{% extends 'base.html' %}
{% load static %}
{% block menu %}
  <li><a href="{% url 'landing:home' %}">Accueil</a></li>
  <li><a href="{% url 'landing:home' %}#advantages">Avantages</a></li>
  <li><a href="{% url 'landing:home' %}#marketplace">Marketplace</a></li>
  <li><a href="{% url 'landing:home' %}#join">Rejoindre</a></li>
{% endblock menu %}
{% block content %}
    <section class="py-24">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex flex-col md:flex-rows">
                <h2 class="font-manrope font-bold text-4xl text-black dark:text-gray-100 mb-8 max-xl:text-center">Entreprises Membres</h2>
                <form action="" method="POST">

                </form>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-8">
                {% for enterprise in enterprises %}
                <a href="{% url 'landing:enterprise_detail' slug=enterprise.slug %}"
                    class="relative bg-cover border border-gray-400 p-2 rounded-lg group rounded-3xl bg-center overflow-hidden mx-auto sm:mr-0 xl:mx-auto cursor-pointer">
                    <img class="rounded-2xl object-cover" src="{% if enterprise.image_logo %}{{ enterprise.image_logo.url }}{% else %}{% static 'images/logo_gray.png' %}{% endif %}" alt="Jacket image">
                    <div
                        class="absolute z-10 bottom-3 left-0 mx-3 p-3 bg-white dark:bg-base-100 w-[calc(100%-24px)] rounded-xl shadow-sm shadow-transparent">
                        <div class="flex items-center justify-between mb-2">
                            <h6 class="font-semibold text-base dark:text-gray-200 leading-7 ">{{ enterprise.name }}</h6>
                        </div>
                        {% if enterprise.description %}<p class="text-xs leading-5 text-gray-500">{{ enterprise.description|truncatewords:3 }}</p>{% endif %}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="flex items-center border m-2 py-8 justify-center gap-6 mt-8 text-gray-700 rounded-lg shadow-md dark:text-gray-300">
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="flex items-center justify-center w-10 h-10 rounded-full bg-gray-100 hover:bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-700">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
            </svg>
          </a>
            {% endif %}

          <span class="text-sm sm:text-base font-medium">
            Page <span class="text-secondary-300 dark:text-secondary-400 font-semibold">{{ page_obj.number }}</span> sur <span class="font-semibold text-primary-600">{{ page_obj.paginator.num_pages }}</span>
          </span>

            {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="flex items-center justify-center w-10 h-10 rounded-full bg-gray-100 hover:bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-700">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
            </svg>
          </a>
            {% endif %}
        </div>
    </section>

{% endblock content %}